<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>


        <!-- this file exist here for legacy purposes. As of current its not a part of this project.-->


        <!-- Database connection settings -->
        <!-- <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
                    <property name="connection.url">jdbc:hsqldb:hsql://localhost/TestDB</property> -->

<!-- org.postgresql.Driver 
jdbc:postgresql://localhost:5432/hibernatedb
postgres
password

-->

        <property name="connection.driver_class">org.apache.derby.jdbc.EmbeddedDriver</property>
        <property name="connection.url">jdbc:derby:sampleDB;create=true;user=me;password=mine</property>
        <property name="connection.username">me</property>
        <property name="connection.password">mine</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">5</property>

        <!-- SQL dialect -->
        <property name="dialect">
            org.hibernate.dialect.DerbyDialect
        </property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
        <!-- Drop and recreate database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Names the annotated entity class 
                -->
        
        
        <!-- 
        <mapping class="org.nearbyshopshops.model.Item"></mapping>
        <mapping class="org.nearbyshopshops.model.ItemCategory"></mapping>
        <mapping class="org.nearbyshopshops.model.Distributor"></mapping>
        <mapping class="org.nearbyshopshops.model.Shop"></mapping>
        <mapping class="org.nearbyshopshops.model.ShopItem"></mapping>

 -->
    </session-factory>

</hibernate-configuration>